
body{
background-image: url('../assets/images/bg-intro-desktop.png');
background-position: center center;
background-size: 100% 100%;
box-sizing: border-box;
  font-family:  Poppins;
}
body{
  background-color: hsl(0, 100%, 74%);
}


